<footer class="footer">
    <hr class="headerHr">
    <div class="footerContact">
        <div class="footerSeparation footerTitle">A propos</div>
        <div class="footerSeparation">Contact</div>
    </div>
    <div class="footerMore footerContact">
        <div class="footerSeparation footerTitle">Plus</div>
        <div class="footerSeparation">L'équipe</div>
        <div class="footerSeparation"><a href="/login">Login</a></div>
        <div class="footerSeparation"><a href="/register">Register</a></div>
        <div class="footerSeparation"><a href="/userList">Users List</a></div>
        <div class="footerSeparation"><a href="/createVideo">New Video</a></div>
    </div>
    <div class="footerHelp footerContact">
        <div class="footerSeparation footerTitle">Aide</div>
        <div class="footerSeparation">Support</div>
    </div>
    <div class="footerCopyright">&copy; HamsterHub - 2016 - tout droit réservés</div>
</footer>
