<!DOCTYPE html>
<html>
    {{ include('head.html.twig') }}

    <body>
        {% block body %}

            {{ include('header.html.twig') }}

            {% block content %}{% endblock %}

            {{ include('footer.html.twig') }}

        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
